{% extends 'base.html.twig' %}

{% block title %} {% trans %} Matches {% endtrans %}{% endblock %}

{% block body %}
    <style>
        .imgTest {
            width: 60px;
            height: 60px;
        }
    </style>
    <h1>Matches</h1>


    <link rel="stylesheet" href="{{asset("assets/css/quiz.css")}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>


    <!-- START: Latest Matches -->
    <div class="nk-gap-2"></div>

    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">
                {% trans %}
                Latest
                {% endtrans %}</span> {% trans %} Matches {% endtrans %}</span></h3>

    <div class="nk-gap"></div>
    <div class="row">
        <div class="col-md-4">
            <a href="tournaments.html" class="nk-btn nk-btn-rounded nk-btn-color-main-1">
                {% trans %} Match Details {% endtrans %}</a>
        </div>
        <div class="col-md-8">
            <div class="responsive-embed responsive-embed-16x9">
                <iframe src="https://player.twitch.tv/?channel=eulcs&autoplay=false" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
            </div>
        </div>
    </div>


    <tr>
    <tr>
    <!-- start Quiz button -->

    <div style="float: left" class="start_btn"><button>
            {% trans %}
            Start Quiz
            {% endtrans %}
        </button></div>

    </tr>
    </tr>
    <!-- Info Box -->
    <div class="info_box">
        <div class="info-title"><span>Some Rules of this Quiz</span></div>
        <div class="info-list">
            <div class="info">1. You will have only <span>15 seconds</span> per each question.</div>
            <div class="info">2. Once you select your answer, it can't be undone.</div>
            <div class="info">3. You can't select any option once time goes off.</div>
            <div class="info">4. You can't exit from the Quiz while you're playing.</div>
            <div class="info">5. You'll get points on the basis of your correct answers.</div>
        </div>
        <div class="buttons">
            <button class="quit">Exit Quiz</button>
            <button class="restart">Continue</button>
        </div>
    </div>
    <!-- Quiz Box -->
    <div class="quiz_box">
        <header>
            <div class="title">GameHex Exclusive Quiz</div>
            <div class="timer">
                <div class="time_left_txt">Time Left</div>
                <div class="timer_sec">15</div>
            </div>
            <div class="time_line"></div>
        </header>
        <section>
            <div class="que_text">
                <!-- Here I've inserted question from JavaScript -->
            </div>
            <div class="option_list">
                <!-- Here I've inserted options from JavaScript -->
            </div>
        </section>
        <!-- footer of Quiz Box -->
        <footer>
            <div class="total_que">
                <!-- Here I've inserted Question Count Number from JavaScript -->
            </div>
            <button class="next_btn">Next Que</button>
        </footer>
    </div>
    <!-- Result Box -->
    <div class="result_box">
        <div class="icon">
            <i class="fas fa-crown"></i>
        </div>
        <div class="complete_text">You've completed the Quiz!</div>
        <div class="score_text">
            <!-- Here I've inserted Score Result from JavaScript -->
        </div>
        <div class="buttons">
            <button class="restart">Replay Quiz</button>
            <button class="quit">Quit Quiz</button>
        </div>
    </div>
    <!-- Inside this JavaScript file I've inserted Questions and Options only -->
    <!-- Inside this JavaScript file I've inserted Questions and Options only -->
    <script src="{{asset("../assets/js/questions.js")}}"></script>
    <!-- Inside this JavaScript file I've coded all Quiz Codes -->
    <script src="{{asset("../assets/js/script.js")}}"></script>







            {% for match in matches %}


    <div class="nk-gap"></div>
    <div class="nk-match">
        <div class="nk-match-team-left">
            <a href="#">
                        <span class="nk-match-team-logo">
                            <img src={{ asset('/users/5/' ~ match.team1.teamLogo) }} class="imgTest" />
                        </span>
                <span class="nk-match-team-name">
                            {{ match.team1.teamName }}
                        </span>
            </a>
        </div>
        <div class="nk-match-status">
            <a href="{{ path('app_matches_show', {'id': match.id}) }}">
                <span class="nk-match-status-vs">VS</span>
                <span class="nk-match-status-date">{{ match.matchDate ? match.matchDate|date('Y-m-d') : '' }}</span>
                <span class="nk-match-status-date">{{ match.matchTime ? match.matchTime|date('H:i:s') : '' }}</span>
                <span class="nk-match-score bg-danger">{{ match.matchRes }}</span>
                <p>{{ match.matchCom }}</p>


            </a>
        </div>
        <div class="nk-match-team-right">
            <a href="#">
                        <span class="nk-match-team-name">
                            {{ match.team2.teamName }}
                        </span>
                <span class="nk-match-team-logo">
                            <img src={{ asset('/users/5/' ~ match.team2.teamLogo) }} class="imgTest" />
                        </span>
            </a>
        </div>
    </div>
        </tr>

    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}


    <!-- END: Latest Matches -->
{% endblock %}
