{{ form_start(form) }}
{# {{ form_widget(form) }} #}
<div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.name) }}
</div>
<div class="form-group">
    {{ form_label(form.start_date) }}
    {{ form_widget(form.start_date, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.start_date) }}
</div>
<div class="form-group">
    {{ form_label(form.leave_date) }}
    {{ form_widget(form.leave_date, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.leave_date) }}
</div>
<div class="form-group">
    {{ form_label(form.nvr_units_sold) }}
    {{ form_widget(form.nvr_units_sold, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.nvr_units_sold) }}
</div>


<div class="buttons-cont">
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    <a class="btn btn-dark" href="{{ path('app_supplier_index') }}">back to list</a>
</div>
{{ form_end(form) }}