{{ form_start(form) }}
{# {{ form_widget(form) }} #}
<div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.name) }}
</div>
<div class="form-group">
    {{ form_label(form.lastName) }}
    {{ form_widget(form.lastName, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.lastName) }}
</div>
<div class="form-group">
    {{ form_label(form.CIN) }}
    {{ form_widget(form.CIN, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.CIN) }}
</div>
<div class="form-group">
    {{ form_label(form.phone) }}
    {{ form_widget(form.phone, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.phone) }}
</div>
<div class="form-group">
    {{ form_label(form.date) }}
    {{ form_widget(form.date, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.date) }}
</div>
<div class="form-group">
    {{ form_label(form.email) }}
    {{ form_widget(form.email, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.email) }}
</div>
<div class="form-group">
    {{ form_label(form.plainPassword) }}
    {{ form_widget(form.plainPassword, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.plainPassword) }}
</div>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}