{% extends 'baseAdmin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1 align="center">User List</h1>
     {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %} 

        {% for message in app.flashes('info') %}
            <div class="alert alert-info">
                {{message}}
            </div>
        {% endfor %}
        
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{message}}
            </div>
        {% endfor %}
    {#{% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}#}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LastName</th>
                <th>CIN</th>
                <th>Phone</th>
                <th>Date</th>
                <th>Email</th>
                {#<th>Password</th>#}
                <th>Roles</th>
                <th>ban</th>
                <th>activate</th>
                <th>actions</th>
            </tr>
        </thead>
        
        <tbody id="myTable">
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.CIN }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.date }}</td>
                <td>{{ user.email }}</td>
                {#<td>{{ user.password }}</td>#}
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.ban }}</td>
                <td>{{ user.activate }}</td>
                <td>
                    <a href="{{ path('backend_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('backend_user_edit', {'id': user.id}) }}">edit</a>
                    <a href="{{ path('ban', {'id': user.id}) }}">ban</a>
                    <a href="{{ path('activate', {'id': user.id}) }}">activate</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <center>
    {#<a href="{{ path('backend_user_new') }}">Create new</a>#}

    <button class="btn-info btn-lg mt-10">
    <a href="{{ path('pdf') }}">Print</a>
    </button>
    </center>
{% endblock %}
