{{ form_start(form) }}
{# {{ form_widget(form) }} #}
<div class="form-group">
    {{ form_label(form.title) }}
    {{ form_widget(form.title, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.title) }}
</div>
<div class="form-group">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.description) }}
</div>
<div class="form-group">
    {{ form_label(form.start) }}
    {{ form_widget(form.start, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.start) }}
</div>
<div class="form-group">
    {{ form_label(form.link) }}
    {{ form_widget(form.link, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.link) }}
</div>
<div class="form-group">
    {{ form_label(form.rating) }}
    {{ form_widget(form.rating, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.rating) }}
</div>
<div class="form-group">
    {{ form_label(form.coach) }}
    {{ form_widget(form.coach, { attr: { class: "form-control" } } ) }}
    {{ form_errors(form.coach) }}
</div>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}