{% extends 'baseAdmin.html.twig' %}

{% block title %}Tuto{% endblock %}

{% block body %}
<h1>Tuto</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Tuto ID</th>
            <td>{{ tuto.tutoid }}</td>
        </tr>
        <tr>
            <th>Tuto Title</th>
            <td>{{ tuto.title }}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>{{ tuto.category.title }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ tuto.content }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('app_tutos_index') }}">back to list</a>

<a href="{{ path('app_tutos_edit', {'tutoid': tuto.tutoid}) }}">edit</a>

{{ include('tutos/_delete_form.html.twig') }}
{% endblock %}