{% extends 'baseAdmin.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block body %}
    <h1 align="center">Articles List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="myTable">
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.content }}</td>
                <td>
                    <a href="{{ path('app_articles_showAdmin', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_articles_editAdmin', {'id': article.id}) }}">edit</a>
                    {% if article.accept== 0%}
                    <a class="fa fa-check-square" href="{{ path('backend_user_article_accepte', {'id': article.id}) }}">Accept</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('app_articles_newAdmin') }}">Create new</a>
{% endblock %}
