{% extends 'base.html.twig' %}

{% block title %}Coach index{% endblock %}

{% block body %}


    <header class="container-coach"><center><h1 title="coach-index-h1">Coach Index</h1></center></header>
    <br><a class = "goCalendar" href="{{ path('app_favoris') }}">My Favorites</a><br>
    <div class ="row">

        {% for coach in coaches %}
            {% if coach.user.id != current_user.id %}

        <aside class="profile-card">
            <header>
                <!-- here’s the avatar -->
                <br/>
                <a href="{{path('app_coach_show', { 'id': coach.id }) }}">
                    <img src="{{ asset('/users/5/'~ coach.imageURL) }}" alt="Fix this dude's picture" style = "width: 100px;height: 100px">
                </a><br>
                <span>
                        <input class="coachID" hidden value="{{ coach.id }}">
                </span>
                <!-- the username -->
                <br><h3>{{ coach.user.name ~ ' ' ~ coach.user.lastName }}</h3>

                <!-- and role or location -->
                <h2> {{ coach.tier }} </h2>

            </header>

            <!-- bit of a bio; who are you? -->
            <div class="profile-bio">

                <p>Hello there!</p>
                <p>{{ coach.motto }}</p>
            </div>
                {% if coach.rating == '0' %}
                    {% set ratingDisplay = 'Unrated' %}
                {% elseif coach.rating >= '1' and coach.rating < '2' %}
                    {% set ratingDisplay = 'Bad' %}
                {% elseif coach.rating >= '2' and coach.rating < '3' %}
                    {% set ratingDisplay = 'Poor' %}
                {% elseif coach.rating >= '4' and coach.rating < '4' %}
                    {% set ratingDisplay = 'Fair' %}
                {% elseif coach.rating >= '4' and coach.rating < '5' %}
                    {% set ratingDisplay = 'Good' %}
                {% elseif coach.rating == '5' %}
                    {% set ratingDisplay = 'Excellent' %}
                {% endif %}

            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="animate-charcter"> {{ ratingDisplay }}</h3>
                    </div>
                </div>
            </div>

            {% if coach.user.id == current_user.id %}
                <a href="{{ path('app_coach_edit', {'id': coach.id}) }}"><h5>edit</h5></a>
            {% endif %}
            <!-- some social links to show off -->
            <ul class="profile-social-links">

                <!-- twitter - el clásico  -->
                <li><br/><br/><br/>
                    <a href="https://twitter.com/tutsplus">
                        <img src="{{asset("assets/images/discord-icon-svgrepo-com.svg")}}" alt="">
                    </a>
                </li>

                <!-- envato – use this one to link to your marketplace profile -->
                <li><br/>
                    <a href="https://envato.com">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-envato.svg" alt="">
                    </a>
                </li>

                <!-- codepen - your codepen profile-->
                <li><br/>
                    <a href="https://codepen.io/tutsplus">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-codepen.svg" alt="">
                    </a>
                </li>
                <br>
                <li><a href="{{ path('addf',{'id':coach.id}) }}">
                        <i class="far fa-heart "></i>
                    </a></li>

                <!-- add or remove social profiles as you see fit -->

            </ul>

        </aside>

            {% endif %}
        {% endfor %}
        {% if not is_granted('ROLE_COACH') %}
            <a href="{{ path('app_coach_new') }}">Become a Coach</a>
        {% endif %}

    </div>

    <div id="display-summonerLevel">

    </div>

<br>
    <!-- Riot API Section -->
    <div class="sidebar-search">

        <div class="input-group custom-search-form">
            <<label for="riot-summoner-input">Search a Summoner</label><br>
            <input type="text" id="riot-summoner-input" class="form-control" placeholder="Type summoner name..." style="margin-bottom: 20px">
            <button type="button" id="valid-summoner">Search</button>
        </div>
    </div>

    {%  block js %}
        <script>
            {% if summoner is defined %}
                let res = {{ summoner.summonerLevel }}
            {% endif %}
            $("#valid-summoner").click(function () {
                let data = {'sumoner_name':$("#riot-summoner-input").val()}
                let url = `/coach/`

                let xhr = new XMLHttpRequest

                xhr.open("GET", url)
                xhr.send(JSON.stringify(data))

                function loadXMLDoc()
                {
                    document.getElementById("display-summonerLevel").innerHTML = `Summoner Level: <h2>${res}</h2>`
                }
                loadXMLDoc();

            });
        </script>

    {% endblock %}
{% endblock %}
